* {
  box-sizing: border-box;
}

body{
  background: linear-gradient(rgba(42, 26, 56, 0.65), rgba(42, 26, 56, 0.65)), url('./background.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
}



.pageTitle {
  padding: 10px;
  margin: 10px 0px;
  background: red;
  height: 70px;
  overflow: hidden;
  border: 3px white solid;
  border-radius: 5px;
}

h1 {
  color: white;
  font-size: 44px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px 8px black;
  white-space: nowrap;
  
}

.pageTitle div:nth-child(3){
  position: relative;
  right: -714px;
  top: -44px;
}

.banner {
  margin: 0px 40px;
  display: inline-block;
  white-space: nowrap;
  animation: banner 3s infinite forwards linear;
  border:
}

@keyframes banner {

  0%{
    transform: translate(0px, 0px);
  }
  100%{
    transform: translate(-476px, 0px);
  }
}

h2{
  font-size: 24px;
  margin: 5px 0px;
  text-shadow: 1px 1px 5px black;
}


.app-container > div {
  
  width: 1000px;
  margin: 0 auto;
}

.movieSummary {
  text-shadow: 1px 1px 2px black;
}

.movie-displayer {
  width: 250px;
  background: #0F1116;
  padding: 10px;
  border-radius: 15px;
  color: white;
  border: 3px solid #0F1116;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  

}

.watchList ul {
    
animation: fromright .5s 1 ease-out forwards;
}
@keyframes fromright{

  0%{
    transform: translate(-300px, 0px)
  }
  100%{
    transform: translate(0px, 0px)
  }

}


.movie-displayer:hover {
  animation: bordercolor infinite 1s forwards linear;
  box-shadow: 0px 0px 15px white;
}

.watchlistAdd {
  cursor: url('./plus.svg'),auto;
}

@keyframes bordercolor {

  0% {
    border-top-color: green;
    border-right-color: yellow;
    border-bottom-color: blue;
    border-left-color: red;
  }
  25% {
    border-top-color: red;
    border-right-color: green;
    border-bottom-color: yellow;
    border-left-color: blue;
  }
  50% {
    border-top-color: blue;
    border-right-color: red;
    border-bottom-color: green;
    border-left-color: yellow;
  }
  75% {
    border-top-color: yellow;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: green;
  }
  100% {
    border-top-color: green;
    border-right-color: yellow;
    border-bottom-color: blue;
    border-left-color: red;
  }

}

.cursor {
  cursor: pointer;
}


.left-sidebar {
  position: fixed;
  left: 10px;
  top: 20px;
}

.left-sidebar > * + * {
  margin: 20px 0px;
}

.leftbar {
  display: flex;
}

.right-sidebar {
  position: fixed;
  right: 10px;
  top: 20px;
}

.right-sidebar > * + * {
  margin: 20px 0px;
}



@keyframes drop-in {
  0% {
    transform: translate(-500px, 0px);
    display: none;
  }

  100% {
    transform: translate( 0px, 0px);
    display:initial;
  }
}



.movie-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-display > * + * , .movie-display > ul:first-child {
  margin: 10px;
  
}

.filter-styles {
  display: block;
}

.filter-menu {
  margin-top: 20px;
}

.filter-styles p:nth-child(2) {
  margin-top: 20px;
}

.input-periphs {
  border: white 3px solid;
  box-shadow: 2px 2px 15px white;
}

.input-periphs:active {
  box-shadow:none;
}

select {
  background-color: red; 
  width: 100%;
  color: white;
  font-size: 24px;
  display: inline-block;
}

.poster.selectedPoster{
  width: 100px;
}

.btn {
  background-color: red; 
  color: white;
  padding: 5px;
  font-size: 20px;
  display: inline-block;
  margin: 10px; 
  width: 140px;
  
}

.getReviewButton {
  background-color: red; 
  color: white;
  font-size: 14px;
  display: inline-block;
  margin: 10px; 
  width: 140px;
}


.textbox-for-review {

  border: 3px white solid;
  background-color: red;
  color: white;
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
}

.textbox-for-review::placeholder {
  color: white;
  font-size: 14px;
  text-align: center;
}

.go {
  
}

.next {

}

.watchList {
  overflow: auto;
  max-height: 400px;
}

.watchList ul {
  border: solid white 3px;

}

.watchList li {
  margin: 5px 0px;
}

.watchList * + *{
  margin: 10px 5px;
}

.watchList button {
  
  background-color: red; 
  color: white;
  font-size: 14px;
  display: inline-block;
  border: white 2px solid;
  box-shadow: 5px 5px 10px black;
}

.reviewed-title {
  border: white solid 3px;
  background: red;
  font-size: 27px;
  margin-bottom: 5px;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px 4px black;
} 

.review {
  margin: 25px 0px;
  font-size: 18px;
  
}


.movie-displayer img {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0px;
  height: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  background: red;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: white;
  height: 15px;
  width: 15px;
  

}

.weatherTile img {
  width: 100px;
}

.temp {
  font-size: 40px;
}

.weatherDescription {
  margin-bottom: 15px;
}

.weatherZip{
  width: 100%;
  border-radius: 3px;
  border: 3px white solid;
  background-color: red;
  color: white;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}

.weatherZip::placeholder {
  color: white;
  font-size: 14px;
  text-align: center;
}