* {
  box-sizing: border-box;
}

body{
  background:  #eeeeee;
  text-align: center;
}

h1 {
  color: black;
  font-size: 44px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2{
  font-size: 24px;
  margin: 5px 0px;
  text-shadow: 1px 1px 5px black;
}


.app-container > div {
  
  width: 1000px;
  margin: 0 auto;
}

.movieSummary {
  text-shadow: 1px 1px 2px black;
}


.movie-displayer {
  width: 235px;
  background: red;
  padding: 10px;
  border-radius: 15px;
  color: white;
  box-shadow: 5px 5px 15px black;
  animation: drop-in 1 1s forwards ease-in-out;

}

.left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
}

.leftbar {
  display: flex;
}

.right-sidebar {
  position: fixed;
  right: 0;
  top: 0;
}

.right-sidebar > * + * {
  margin: 20px 0px;
}

.movie-displayer img {
  width: 100%;
}

@keyframes drop-in {
  0% {
    transform: translate(-500px, 0px);
    display: none;
  }

  100% {
    transform: translate( 0px, 0px);
    display:initial;
  }
}



.movie-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-display > * + * , .movie-display > ul:first-child {
  margin: 10px;
  
}

.filter-styles {
  display: block;
}

.filter-menu {
  margin-top: 20px;
}

.input-periphs {
  border: white 3px solid;
  box-shadow: 5px 5px 10px black;
}

select {
  background-color: red; 
  width: 100%;
  color: white;
  font-size: 24px;
  display: inline-block;
}

.poster.selectedPoster{
  width: 100px;
}

.btn {
  background-color: red; 
  color: white;
  padding: 5px;
  font-size: 20px;
  display: inline-block;
  margin: 10px; 
  width: 140px;
  
}

.getReviewButton {
  background-color: red; 
  color: white;
  font-size: 14px;
  display: inline-block;
  margin: 10px; 
  width: 140px;
}


.textbox-for-review {

  border: 3px white solid;
  background-color: white;
  color: red;
  width: 100%;
  min-height: 50px;

}

.textbox-for-review::placeholder {
  color: red;
  font-size: 14px;
  text-align: center;
}

.go {
  
}

.next {

}

.watchList {
  overflow: auto;
  max-height: 500px;
}

.watchList ul {
  border: solid white 3px;

}

.watchList li {
  margin: 5px 0px;
}

.watchList * + *{
  margin: 10px 5px;
}

.watchList button {
  
  background-color: red; 
  color: white;
  font-size: 14px;
  display: inline-block;
  border: white 2px solid;
  box-shadow: 5px 5px 10px black;
}

.reviewed {
  font-size: 24px;
  margin-bottom: 5px;
  color: gainsboro;
  text-shadow: 2px 2px 5px black;
} 